body {
	display: grid;
	grid-template-areas: "head head" "lyrics chords";
	grid-template-columns: auto 8rem;
	gap: 1rem;
	
	font-family: sans-serif;
	
  }
  header {
	grid-area: head;
  }
h1 {
	font-weight: normal;
	margin: .3rem 0;
}

.song-info {
	color: #444444;
}

  main {
	grid-area: lyrics;
	position: relative;
  }

  textarea {
	position: absolute;
  top: 0;
  left: 0;
  color: transparent;
  resize: none;
  background: transparent;
  caret-color: black;
  }

  textarea,#lyrics {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	border: none;
	font-size: 1em;
	font-family: sans-serif;
  }


.chord {
	color:orangered;
	text-transform: capitalize;
	font-weight: bolder;
}
  #chords {
	grid-area: chords;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  align-content: flex-start;
  }
  
  #chords img {
	width: 4rem;
  }